extends /layouts/application.pug

block title
  - const title = 'Main page';

block content
  h1.mb-3.font-weight-normal.text-center Менеджер проектов
  p Приложение было разработано в рамках дипломного проекта, при обучении на 
    a(href="https://ru.hexlet.io/") Hexlet
    span .
    br 
    span При разработке использовались: 
    a(href="https://nodejs.org/") Node.js
    span , 
    a(href="https://koajs.com/") Koa
    span , 
    a(href="https://getbootstrap.com/") Bootstrap 4
    span , 
    a(href="http://docs.sequelizejs.com/") Sequelize
    span , 
    a(href="https://rollbar.com/") Rollbar
    span , 
    a(href="https://webpack.js.org/") Webpack
    span , 
    a(href="https://pugjs.org/api/getting-started.html/") Pug
    span . Проект развернут на 
    a(href="https://www.heroku.com/") Heroku
    span .
  p Реализована фунциональность:
    ul
      li Регистрация, обновление и удаление пользователей
      li Создание новых, обновление и удаление статусов
      li Создание новых, обновление и удаление задач
      li Аутентификация
      li Обновление статуса задачи
      li Фильтрация задач по:
        ul
          li Мои задачи
          li По тегам
          li По статусы
          li По ответственному за задачу
  p Исходный код проекта можно посмотреть на моем GitHub аккаунте:  
    a(href="https://github.com/Snokke/project-lvl4-s383") Task Manager
    span . Мой аккаунт на Hexlet: 
    a(href="https://ru.hexlet.io/u/snokke") Андрей Бабинцев
    span .