extends /layouts/application.pug

block title
  - const title = 'Create task';

block content
  h3.mb-3.text-center.mt-3 Create new task
  div.row.justify-content-center
    div.col-6
      +formFor(f, { url: urlFor('tasks'), method: 'post' })
        +input(f, 'name', 'Task')
        +inputArea(f, 'description', 'Description', 10)
        +inputSelect(f, 'assignedToId', users, 'Assigned to')
        //+input(f, 'tags', 'Tags')
        .row
          .col
            +button(f, 'Create task')
          .col.col-auto
            a(class="btn btn-light" role="button" href=urlFor('tasks') rel='nofollow') Cancel
        
