extends /layouts/application.pug

block title
  - const title = 'Create task';

block content
  .row.justify-content-center
    .card.shadow-sm
      .card-body
        h3.card-title.text-center Create new task
        h6.card-subtitle.mb-2.text-muted.text-center You can also select Status, Assigned to and Tags. Add tags separating by spaces or commas
        +formFor(f, { url: urlFor('tasks'), method: 'post' })
          +input(f, 'name', 'Task')
          +inputArea(f, 'description', 'Description', 12)
          .row
            .col-md-6
              +inputSelect(f, 'taskStatusId', taskStatuses, 'Status')
            .col-md-6
              +inputSelect(f, 'assignedToId', users, 'Assigned to')
          +input(f, 'tags', 'Tags')
          .row
            .col
              +button(f, 'Create task')
            .col.col-auto
              a(class="btn btn-light" role="button" href=urlFor('tasks') rel='nofollow') Cancel
        
