extends /layouts/application.pug

block title
  - const title = `Sign in`;

block content
  .row.justify-content-center
    .card
      .card-body
        h3.text-center Please sign in to Task Manager
        +formFor(f, { url: urlFor('session'), method: 'post' })
          +input(f, 'email', 'Email address')
          +input(f, 'password', 'Password', { as: 'password' })
          +button(f, 'Sign in', 'btn-block')
