extends /layouts/application.pug

block content
  h3.mb-3.text-center Please sign in
  div.row.justify-content-center
    div.col-4
      +formFor(f, { url: urlFor('session'), method: 'post' })
        +input(f, 'email', 'Email address')
        +input(f, 'password', 'Password', { as: 'password' })
        +button(f, 'Sign in')
