extends /layouts/application.pug

block content
  h3.mb-3.text-center.mt-3 Edit Account
  div.row.justify-content-center
    div.col-4
      +formFor(f, { url: urlFor('edit'), method: 'patch' })
        +input(f, 'email', 'Email address')
        +input(f, 'firstName', 'First name')
        +input(f, 'lastName', 'Last name')
        +input(f, 'password', 'Password', { as: 'password' })
        +button(f, 'Update account', 1)
        .row.justify-content-center
          button(type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteUser") Delete account

  div(class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Delete confirmation
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body Are you sure you want do delete your account? This action cannot be undone.
        div.modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          a(class="btn btn-danger" role="button" href=urlFor('deleteUser') data-method='delete' rel='nofollow') Delete account