extends /layouts/application.pug

block title
  - const title = 'Users';

block content
  table.table.table-hover.shadow-sm
    thead.thead-light
      tr
        th(style="width: 5%") ID
        th(style="width: 35%") Full Name
        th(style="width: 30%") Email
        th(style="width: 30%") Created
    tbody
      each user in users
        tr
          td.align-middle= user.id
          td.align-middle
            a(href=urlFor('showUser', { id: user.id }))= user.fullName
          td.align-middle= user.email
          td.align-middle= formatDate(new Date(user.createdAt), 'HH:mm DD.MM.YYYY')
