extends /layouts/application.pug

block title
  - const title = 'Create account';

block content
  .row.justify-content-center
    .card.shadow-sm
      .card-body
        h3.text-center Create account for Task Manager
        +formFor(f, { url: urlFor('users'), method: 'post' })
          +input(f, 'email', 'Email address')
          +input(f, 'firstName', 'First name')
          +input(f, 'lastName', 'Last name')
          +input(f, 'password', 'Password', { as: 'password' })
          +button(f, 'Create account', 'btn-block')
          p.text-center Have an account? 
            a(href=urlFor('newSession')) Log in
